.nav-link-header {
  position: relative;
  color: #e5e7eb; /* gris clair */
  transition: color 0.3s;
  cursor: pointer;
}

.nav-link-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #f97316, #facc15); /* orange -> jaune */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link-header:hover {
  color: #fff;
}

.nav-link-header:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

select {
  position: absolute;
  top: 10px;
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Centrer horizontalement */
}

.language-selector {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000; /* Assurez-vous que le sélecteur est au premier plan */
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius: 20px;
  min-width: 100px;
  min-height: 30px;
}

.language-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.language-select {
  font-size: 13px;
  border: none;
  background: none;
  color: #fff; /* Ajustez la couleur du texte selon vos besoins */
  margin-left: 8px;
  outline: none;
  cursor: pointer;
  appearance: none; /* Supprime les flèches de sélection par défaut */
  -webkit-appearance: none; /* Supprime les flèches de sélection par défaut dans WebKit */
  -moz-appearance: none; /* Supprime les flèches de sélection par défaut dans Firefox */
  padding: 0;
  line-height: 15px; /* Ajustez la hauteur de ligne pour centrer verticalement */
  height: 50%; 
  display: relative!important;
  align-items: center!important; /* Centre verticalement le texte */
  justify-content: center!important; /* Centre horizontalement le texte */
  background-color: transparent; /* Assurez-vous que le fond est transparent */
  -webkit-text-fill-color: #fff; /* Spécifique à WebKit pour forcer la couleur du texte */
}

.language-select option {
  background-color: #333; /* Fond pour les options */
  color: #fff; /* Couleur du texte des options */
}