.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.modal-content {
  background-color: #010e1d;  /* Bleu sombre */
  color: white;
  margin: auto;
  padding: 20px;
  border: 2px solid #001ecb;  /* Bordure bleu électrique */
  border-radius: 15px;
  width: 66.67%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-shadow: 0 0 10px #001ecb;
}

.modal-content::-webkit-scrollbar {
  display: none; /* Masquer la scrollbar */
}

.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close:hover {
  color: #ff0000; /* Rouge au survol */
}
