.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #010e1d;  /* couleur fond bleu sombre */
  color: white;  /* texte blanc */
  margin: auto;
  padding: 20px;
  border: 2px solid #001ecb;  /* bordure néon */
  border-radius: 15px;
  width: 66.67%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-shadow: 0 0 10px #001ecb;
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

.close {
  color: #ffffff; /* blanc */
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000; /* rouge au survol */
  text-decoration: none;
  cursor: pointer;
}


.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* ratio 16:9 */
  height: 0;
}

.video-container video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
